body {
    background: #f1f1f1;
    font-family: 'Roboto Mono', monospace;
}

.content {
    display: flex;
    justify-content: end;
    margin: 16px;
}

.img-u {
    width: 45px;
}
.img-m {
    width: 35px;
}

.img-u, .img-m {
    padding-right: 16px;
}
.imagenes, .gmail {
    padding-right: 16px;
}